<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Welcome to Vue</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="level">
        잔고 :<input type="text" v-model="level">
        <span v-if="level >= 100000">1</span>
        <span v-else-if="level >= 50000">2</span>
        <span v-else-if="level >= 25000">3</span>
        <span v-else>-</span>
    </div>

<script>
    var model = {
        level:0
    }

    var simple = new Vue({
        el : '#level',
        data : model
    })
</script>
</body>
</html>
